<!DOCTYPE html>
<html>
  <head>
    <%- include('../layout/head') %>
  </head>
  <header><%- include('../layout/header') %></header>
  <body>
    <!-- <div class="container-fluid bg-primary">ciao</div> -->
  </body>
  <footer><%- include('../layout/footer') %></footer>
</html>
