<nav
  class="navbar navbar-expand navbar-light text-white"
  style="background: var(--secondary)"
>
  <div class="nav navbar-nav">
    <a class="nav-item nav-link" href="#">
      <img src="images/SNM.png" class="" />
      SNM Home
    </a>
  </div>
</nav>
